{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}
    <section id="menu" class="menu">
      <div class="container" data-aos="fade-up">

        <div class="section-header" style="">
          <p>
            Check Our <span>Pizza Menu</span>
          </p>
          <p>
            <a style="text-decoration: none; margin-left: 1100px" href="{% url 'delivery:pizza-create' %}">
              Add new Pizza
            </a>
          </p>
        </div>

            <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">
              {% for type in pizza_type %}
                <li class="nav-item">
                  <a class="nav-link active show" href="{% url 'delivery:pizza-menu-type-list' type_id=type.id %}">
                    <h4>{{ type.type }}</h4>
                  </a>
                </li>
              {% endfor %}
            </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
          <div class="tab-pane fade active show">
                <div class="tab-header text-center">
                  <h3>Choose your pizza</h3>
                </div>

          <div class="row gy-5">
            {% for pizza in pizza_menu %}
              <div class="col-lg-4 menu-item">
                <a href="{% static 'assets/img/menu/menu-item-1.png' %}" class="glightbox"><img src="{% static 'assets/img/menu/menu-item-1.png' %}" class="menu-img img-fluid" alt=""></a>
                <h4 style="text-align: center">{{ pizza.name }}
                  <a style="text-decoration: none" href="{% url 'delivery:pizza-update' pk=pizza.id %}">🔄</a>
                  <a style="text-decoration: none" href="{% url 'delivery:pizza-delete' pk=pizza.id %}">
                    ❌
                  </a>
                </h4>
                <p style="text-align: center" class="ingredients">
                  {{ pizza.ingredients }}
                </p>
                <p class="price">
                  {{ pizza.price }}$
                </p>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  <form action="" method="post">
   {% csrf_token %}
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this pizza?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Yes, delete</button>
        </div>
      </div>
    </div>
  </div>
 </form>
{% endblock %}
